:root {
    --color-primary: #355691;
    --color-secondary: #5F5AA2;
    --color-ternary: #413F54;

    --bg-primary: rgb(25, 118, 210);
    --bg-dark:#30292F;
    --bg-onyx:#3F4045;


    --bg-light:#F2F2F2;

    --text-primary: #3F4045;
}
